# Python
__pycache__/
*.pyc
venv/
env/

# Environment variables and secrets (ВАЖНО!)
.env
secret.key
cookies.txt

# Database
instance/
*.db
*.sqlite

# Downloads and User Content
downloads/
avatars/

# IDE
.vscode/
.idea/
.DS_Store